PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/unityz"
BNET_CLIENT_ID="your_bnet_id"
BNET_CLIENT_SECRET="your_bnet_secret"
BNET_CALLBACK_URL="http://localhost:3000/api/auth/bnet/callback"
SESSION_SECRET="your_random_secret"
FRONTEND_URL="http://localhost:4200"
NODE_ENV="development"

# Discord Integration
DISCORD_TOKEN="MTQ4OTIyMDI1NzE1ODc5MTI3OQ..."
DISCORD_CLIENT_ID="1489220257158791279"
DISCORD_REMINDER_CHANNEL_ID="1429498219142053903"
DISCORD_EVENTS_CHANNEL_ID="1509267337147056249"
