PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/unityz"
BNET_CLIENT_ID="af88bb7315914e6688de22630a7074cc"
BNET_CLIENT_SECRET="RTqHkgbyo7hSpUwDRHXbLYOPwNFVNTjk"
BNET_CALLBACK_URL="http://localhost:3000/api/auth/bnet/callback"
SESSION_SECRET="your_random_secret"
FRONTEND_URL="http://localhost:4200"
NODE_ENV="development"
